<!DOCTYPE html>
<html>
<head>
	<title>To-Do</title>
</head>
<body>
	<h1>Hi there</h1>
	<h1>Its Karan Telars To-Do App</h1>
	<br>
	<hr>
	<ul>
        <% newListItems.forEach(function(item,index){ %>
            <li> <%= item %> </li>
        <% }) %>
    </ul>
	<br>
	<hr>
	<br>
	<form action="/" method="POST">
		<input type="text" name="todo">
		<input type="submit" name="submitBtn">
	</form>
</body>
</html>